*{
    user-select: none;
}

body{
    height: 686px;
    width: 1504px;
    margin: 0px;
    position: relative;
    background-color: rgb(5, 0, 23);
}

:root{
    --gray: #a9a2a5;

    --light-green: #20ca55;
    --dark-green: #21a84a;
    --black-green: #008000;

    --light-blue: #1b90ff;
    --dark-blue: #217fd9;
    --black-blue: #0b5392;

    --light-red: #e94935;
    --dark-red: #cf4332;
    --black-red: #ae0303;

    --light-yellow: #ffff00;
    --dark-yellow: #dada00;
    --black-yellow: #909000;
}

.Main-Container{
    height: 546px;
    width: 546px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blue-box{
    height: 174px;
    width: 174px;
    background-color: var(--light-blue);
    border: 1px black solid;
    border-top-left-radius: 10px;
    position: relative;
    z-index: 1;
}
#dark-blue-box{
    height: 144px;
    width: 144px;
    background-color: var(--dark-blue);
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}
#blue-oval1{
    height: 35px;
    width: 35px;
    background-color: var(--black-blue);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
}
#blue-oval2{
    height: 35px;
    width: 35px;
    background-color: var(--black-blue);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 25px;
}
#blue-oval3{
    height: 35px;
    width: 35px;
    background-color: var(--black-blue);
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    left: 25px;
}
#blue-oval4{
    height: 35px;
    width: 35px;
    background-color: var(--black-blue);
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#red-box{
    height: 174px;
    width: 174px;
    background-color: var(--light-red);
    border: 1px black solid;
    border-top-right-radius: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}
#dark-red-box{
    height: 144px;
    width: 144px;
    background-color: var(--dark-red);
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}
#red-oval1{
    height: 35px;
    width: 35px;
    background-color: var(--black-red);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
}
#red-oval2{
    height: 35px;
    width: 35px;
    background-color: var(--black-red);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 25px;
}
#red-oval3{
    height: 35px;
    width: 35px;
    background-color: var(--black-red);
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    left: 25px;
}
#red-oval4{
    height: 35px;
    width: 35px;
    background-color: var(--black-red);
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#yellow-box{
    height: 174px;
    width: 174px;
    background-color: var(--light-yellow);;
    border: 1px black solid;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}
#dark-yellow-box{
    height: 144px;
    width: 144px;
    background-color: var(--dark-yellow);
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}
#yellow-oval1{
    height: 35px;
    width: 35px;
    background-color: var(--black-yellow);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
}
#yellow-oval2{
    height: 35px;
    width: 35px;
    background-color: #909000;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 25px;
}
#yellow-oval3{
    height: 35px;
    width: 35px;
    background-color: #909000;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    left: 25px;
}
#yellow-oval4{
    height: 35px;
    width: 35px;
    background-color: #909000;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#green-box{
    height: 174px;
    width: 174px;
    background-color: var(--light-green);
    border: 1px black solid;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}
#dark-green-box{
    height: 144px;
    width: 144px;
    background-color: var(--dark-green);
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}
#green-oval1{
    height: 35px;
    width: 35px;
    background-color: var(--black-green);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
}
#green-oval2{
    height: 35px;
    width: 35px;
    background-color: var(--black-green);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 25px;
}
#green-oval3{
    height: 35px;
    width: 35px;
    background-color: var(--black-green);
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    left: 25px;
}
#green-oval4{
    height: 35px;
    width: 35px;
    background-color: var(--black-green);
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.triangles {
    width: 0px;
    height: 0px;
    background-color: #1b90ff;
    border-top: 73px solid var(--light-blue);
    border-left: 73px solid var(--light-yellow);
    border-right: 73px solid var(--light-red);
    border-bottom: 73px solid var(--light-green);
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 0;
}

.left-right-line{
    background-color: black;
    width: 275px;
    height: 0.7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 3;
}

.right-left-line{
    background-color: black;
    width: 275px;
    height: 0.7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 3;
}
.top-right-line{
    height: 40px;
    width: 40px;
    border: 1px black solid;
    border-bottom: transparent ;
    border-left: transparent ;
    position: absolute;
    top: 200px;
    right: 200px;
}
.top-left-line{
    height: 40px;
    width: 40px;
    border: 1px black solid;
    border-bottom: transparent ;
    border-right: transparent ;
    position: absolute;
    top: 200px;
    left: 200px;
}
.bottom-left-line{
    height: 40px;
    width: 40px;
    border: 1px black solid;
    border-top: transparent ;
    border-right: transparent ;
    position: absolute;
    bottom: 200px;
    left: 200px;
}
.bottom-right-line{
    height: 40px;
    width: 40px;
    border: 1px black solid;
    border-top: transparent ;
    border-left: transparent ;
    position: absolute;
    bottom: 200px;
    right: 200px;
}

.wides{
    height: 26px;
    width: 66px;
    border: 1px black solid;
}

.longes{
    height: 66px;
    width: 26px;
    border: 1px black solid;
}

.borderless-longes{
    height: 66px;
    width: 26px;
    border: none;
    box-sizing: border-box;
    z-index: -1;
}

.borderless-wide{
    height: 26px;
    width: 66px;
    border: none;
    box-sizing: border-box;
    z-index: -1;
}

.first-column{
    background-color: white;
    position: absolute;
    left: 175px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 551;
    font-size: 10px;
    text-align: right;
    padding: 2px;
    color: gray;
}

.second-column{
    height: 26px;
    width: 66px;
    position: absolute;
    left: 240px;
    border: 1px black solid;
    box-sizing: border-box;
}

.third-column{
    background-color: white;
    position: absolute;
    right: 175px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 551;
    font-size: 10px;
    text-align: left;
    padding: 2px;
    color: gray;
}

.first-row{
    background-color: white;
    position: absolute;
    top: 175px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 551;
    font-size: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2px;
    color: gray;
}

.second-row{
    height: 66px;
    width: 26px;
    position: absolute;
    top: 240px;
    border: 1px black solid;
    box-sizing: border-box;
}

.third-row{
    background-color: white;
    position: absolute;
    bottom: 175px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 551;
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2px;
    color: gray;
}

.blues{
    background-color: var(--light-blue);
}

.reds{
    background-color: var(--light-red);
}

.yellows{
    background-color: var(--light-yellow);
}

.greens{
    background-color: var(--light-green); 
}

.grays{
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{
    top: 0px;
}
.second{
    top: 25px;
}
.third{
    top: 50px;
}
.fourth{
    top: 75px;
}
.fifth{
    top: 100px;
}
.sixth{
    top: 125px;
}
.seventh{
    top: 150px;
}
.eighth{
    top: 175px;
}
.ninth{
    bottom: 175px;
}
.tenth{
    bottom: 150px;
}
.eleventh{
    bottom: 125px;
}
.twelfth{
    bottom: 100px;
}
.thirteenth{
    bottom: 75px
}
.fourteenth{
    bottom: 50px;
}
.fifteenth{
    bottom: 25px;
}
.sixteenth{
    bottom: 0px;
}
.seventeenth{
    left: 0px;
}
.eighteenth{
    left: 25px;
}
.ninteenth{
    left: 50px;
}
.twentieth{
    left: 75px;
}
.twenty_first{
    left: 100px;
}
.twenty_second{
    left: 125px;
}
.twenty_third{
    left: 150px;
}
.twenty_fourth{
    left: 175px;
}
.twenty_fifth{
    right: 175px;
}
.twenty_sixth{
    right: 150px;
}
.twenty_seventh{
    right: 125px;
}
.twenty_eighth{
    right: 100px;
}
.twenty_ninth{
    right: 75px
}
.thirtieth{
    right: 50px;
}
.thirty_first{
    right: 25px;
}
.thirty_second{
    right: 0px;
}

.star{
    height: 18px;
    width: 20px;
}

.pawn-container{
    height: 28px;
    width: 28px;
    position: absolute;
    z-index: 6;
    pointer-events: none; 
}

.pawn{
    height: 100%;
    width: 100%;
    z-index: 6;
}

.roller-container{
    height: 50px;
    width: 100px;
    border-radius: 11px;
    position: absolute;

}

#blue-roll{
    background-color: var(--light-blue);
    top: 70px;
    left: 370px;
}

#blue-roll:hover{
    background-color: var(--dark-blue);
}

#red-roll{
    background-color: var(--light-red);
    top: 70px;
    right: 370px;
    visibility: hidden;
}

#red-roll:hover{
    background-color: var(--black-red);
}

#yellow-roll{
    background-color: var(--dark-yellow);
    bottom: 70px;
    left: 370px;
    visibility: hidden;
}

#yellow-roll:hover{
    background-color: var(--black-yellow);
}

#green-roll{
    background-color: var(--light-green);
    bottom: 70px;
    right: 370px;
    visibility: hidden;
}

#green-roll:hover{
    background-color: var(--black-green);
}

.roller-one{
    height: 90%;
    width: 45%;
    border-radius: 5%;
    position: absolute;
    top: 5%;
    left: 3%;
    pointer-events: none;
}

.roller-two{
    height: 90%;
    width: 45%;
    border-radius: 5%;
    position: absolute;
    top: 5%;
    right: 3%;
    pointer-events: none;
}

.roller-image{
    height: 100%;
    width: 100%;
}

#blue-one-container{
    position: absolute;
    transition: left 0.4s ease, top 0.4s ease;
}